<!DOCTYPE html>
<html ng-app="myApp">
  <head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="reviews.component.js"></script>
  <script src="reviews.module.js"></script>
</head>
<body ng-controller="CoffeeListController">
  <div class="col-md-2" style="padding: 15px">

      <label style="color: white">Search: </label><input ng-model="query" />

    </div>
    <table>
      <tr style="font-weight: bold">
        <td>Reviews: </td>
        <td>Brand: </td>
        <td>Coffee Title: </td>
        <td>Country: </td>
      </tr>
  <tr ng-repeat="coffee in coffees | filter: query | orderBy:'name'">
    <td><a href="#!/reviews/{{coffee.id}}">Reviews</a></td>
    <td>{{ coffee.brand }} </td>
    <td>{{ coffee.name }} </td>
    <td>{{ coffee.country }} </td>
  </tr>
</table>

</body>
</html>